.editButton{
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 5px;
}
.editButton:hover{
    background: rgb(232, 232, 245);
}
.backButton{
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 5px; 
}
.backButton:hover{
     background: rgb(232, 232, 245);
}

.menuButton {
  padding: 4px;
  border-radius: 6px;
  transition: background 0.2s;
   cursor: pointer;
}

.menuButton:hover {
  background-color: #f0f0f0;
}
.textHeading{
    margin: 0;
    cursor: pointer;
}
.textHeading:hover{
    color: #1677ff;
}