.mainContainer{
    padding: 15px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rightContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}