.customInputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.inputBox{
border: none !important;
}
.overAll{
 border: 1px solid #f0f0f0;
    padding: 2px;
     width: 70%;
    border-radius: 5px;
}
.sendBtnDiv{
    background: #3b82f6;
    padding: 5px;
    margin: 3px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
